{% extends "layout.njk" %}

{% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{% set activeMainNav = 'components' %}

{% block main %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    {% block sideNavigation %}
                        <h2>Components</h2>

                        {{ mojSideNavigation({
                            label: 'Components side navigation',
                            items: [
                                {
                                    text: 'Mini profile',
                                    href: '/components/mini-profile',
                                    active: activeSideNav === 'mini-profile'
                                },
                                {
                                    text: 'Date picker',
                                    href: '/components/date-picker',
                                    active: activeSideNav === 'date-picker'
                                }
                            ]
                        }) }}

                        <h2>Product set components</h2>

                        {{ mojSideNavigation({
                            label: 'Product set components side navigation',
                            items: [
                                {
                                    text: 'Court cases and release dates',
                                    href: '/components/court-cases-release-dates'
                                }
                            ]
                        }) }}
                    {% endblock %}
                </div>
                <div class="govuk-grid-column-three-quarters">
                    <h1>{{ pageTitle }}</h1>
                    {% block content %}
                        {{ content | safe }}
                    {% endblock %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
