{% extends "layout.njk" %}

{% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{% set activeMainNav = 'components' %}

{% block main %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    <h2>Components</h2>

                    {{ mojSideNavigation({
                        label: 'Side navigation',
                        items: [
                            {
                                text: 'Mini profile',
                                href: '/components/mini-profile',
                                active: activeSideNav === 'mini-profile'
                            }
                        ]
                    }) }}

                </div>
                <div class="govuk-grid-column-three-quarters">
                    <h1>{{ pageTitle }}</h1>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
