{% extends "component.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block sideNavigation %}
    {{ govukBackLink({
        text: "Back to components",
        href: "/components"
    }) }}

    <h2>Court cases and release dates components</h2>

    {{ mojSideNavigation({
        label: 'Components side navigation',
        items: [
            {
                text: 'Sub navigation',
                href: '/components/court-cases-release-dates/sub-navigation',
                active: activeSideNav === 'sub-navigation'
            },
            {
                text: 'Actions card',
                href: '/components/court-cases-release-dates/actions-card',
                active: activeSideNav === 'actions-card'
            },
            {
                text: 'Service header',
                href: '/components/court-cases-release-dates/service-header',
                active: activeSideNav === 'service-header'
            },
            {
                text: 'Latest calculation card',
                href: '/components/court-cases-release-dates/latest-calculation-card',
                active: activeSideNav === 'latest-calculation-card'
            }
        ]
    }) }}
{% endblock %}