{% extends "component.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block sideNavigation %}
    {{ govukBackLink({
        text: "Back to components",
        href: "/components"
    }) }}

    <h2>Legal information components</h2>

    {{ mojSideNavigation({
        label: 'Components side navigation',
        items: [
            {
                text: 'Sub navigation',
                href: '/components/legal-information/sub-navigation',
                active: activeSideNav === 'sub-navigation'
            },
            {
                text: 'Actions card',
                href: '/components/legal-information/actions-card',
                active: activeSideNav === 'actions-card'
            },
            {
                text: 'Service header',
                href: '/components/legal-information/service-header',
                active: activeSideNav === 'service-header'
            }
        ]
    }) }}
{% endblock %}