<html>
  <body>
      {% from "hmpps/components/mini-profile/macro.njk" import miniProfile %}
      {{ miniProfile(miniProfileConfig.person, miniProfileConfig.imageUrl, miniProfileConfig.profileUrl) }}
  </body>
</html>