.hmpps-profile-banner-alert {
  padding: 20px 30px;
  margin: 0 -15px;
  background-color:rgba(244, 119, 56, .25)
}

.hmpps-profile-banner-alert p {
  margin:0 0 10px 0
}

.hmpps-profile-banner-alert p + p {
  margin:0
}
