{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{%- from "moj/components/notification-badge/macro.njk" import mojNotificationBadge -%}
{% from "../../outage-banner/macro.njk" import outageBanner %}


{% set activeSubNav = activeSubNav if activeSubNav else 'overview' %}
{% set navigationItems = [] %}
{% set outageConfig = { display: false, message: ''}%}

{% for navigationKey, navigationValue in navigation %}
    {% set ttdIcon = '' %}
    {% if navigationValue.thingsToDo.count > 0 %}
        {% set ttdIcon = mojNotificationBadge({
            text: navigationValue.thingsToDo.count.toString(), 
            classes: (' ' + navigationValue.thingsToDo.severity | lower) if navigationValue.thingsToDo.severity else ''
        }) %}
    {% endif %}

    {% set navigationItems = navigationItems.concat({
        href: navigationValue.href,
        active: navigationKey === activeSubNav,
        html: navigationValue.text + ttdIcon
    })%}

    {% if navigationKey === activeSubNav and navigationValue.maintenanceAlert.enabled %}
        {% set outageConfig = {
            display: true,
            message: navigationValue.maintenanceAlert.message
        }%}
    {% endif %}
{% endfor %}

{{ mojSubNavigation({
    label: 'Court cases and release dates sub navigation',
    items: navigationItems
}) }}
{% if outageConfig.display %}
    <div class="govuk-!-margin-top-7">
        {{ outageBanner({ text: outageConfig.message, innerClasses: "govuk-!-margin-left-5"}) }}
    </div>
{% endif %}
