{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{%- from "moj/components/notification-badge/macro.njk" import mojNotificationBadge -%}


{% set activeSubNav = activeSubNav if activeSubNav else 'overview' %}
{% set navigationItems = [] %}

{% for navigationKey, navigationValue in navigation %}
    {% set ttdIcon = '' %}
    {% if navigationValue.thingsToDo.count > 0 %}
        {% set ttdIcon = mojNotificationBadge({
            text: navigationValue.thingsToDo.count.toString()
        }) %}
    {% endif %}

    {% set navigationItems = navigationItems.concat({
        href: navigationValue.href,
        active: navigationKey === activeSubNav,
        html: navigationValue.text + ttdIcon
    })%}
{% endfor %}

{{ mojSubNavigation({
    label: 'Court cases and release dates sub navigation',
    items: navigationItems
}) }}
