{% extends "court-cases-release-dates-component.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}


{% set pageTitle = 'Court cases and release dates offence card' %}
{% set activeSideNav = 'offence-card' %}

{% set htmlCode %}
    {% highlight "html" %}
        {{ offenceCard({
            offenceCode: 'OFFENCECODE',
            offenceName: 'An Offence Name',
            offenceStartDate: '27 06 2024',
            offenceEndDate: '27 08 2024',
            outcome: 'Imprisonment',
            outcomeUpdated: true,
            countNumber: '1',
            convictionDate: '12 09 2024',
            terrorRelated: true,
            isSentenced: true,
            periodLengths: [
                {
                    description: 'Sentence length',
                    years: '1',
                    months: '2',
                    weeks: '3',
                    days: '4',
                    periodOrder: ['years', 'months', 'weeks', 'days']
                },
                {
                    description: 'Licence period',
                    years: '5',
                    months: '6',
                    periodOrder: ['years', 'months']
                }
            ],
            sentenceServeType: 'CONSECUTIVE',
            consecutiveTo: '3',
            sentenceType: 'SDS (Standard Determinate Sentence)',
            fineAmount: '17000',
            detailsClasses: 'govuk-!-padding-4',
            actions: {
                items: [
                {
                    text: 'Edit',
                    href: '/edit'
                },
                {
                    text: 'Delete',
                    href: '/delete'
                }
                ]
            },
            listItems: {
                classes: 'govuk-!-margin-top-4',
                items: [
                    {
                        html: '<a href="/update-outcome">Update outcome</a>'
                    }
                ]
            }
    }) }}

    {% endhighlight %}
{% endset %}

{% set nunjucksCode %}
    {% highlight "njk" %}
        {% raw %}
            {% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}
            
            {{ offenceCard({
                offenceCode: 'OFFENCECODE',
                offenceName: 'An Offence Name',
                offenceStartDate: '27 06 2024',
                offenceEndDate: '27 08 2024',
                outcome: 'Imprisonment',
                outcomeUpdated: true,
                countNumber: '1',
                convictionDate: '12 09 2024',
                terrorRelated: true,
                isSentenced: true,
                periodLengths: [
                    {
                        description: 'Sentence length',
                        years: '1',
                        months: '2',
                        weeks: '3',
                        days: '4',
                        periodOrder: ['years', 'months', 'weeks', 'days']
                    },
                    {
                        description: 'Licence period',
                        years: '5',
                        months: '6',
                        periodOrder: ['years', 'months']
                    }
                ],
                sentenceServeType: 'CONSECUTIVE',
                consecutiveTo: '3',
                sentenceType: 'SDS (Standard Determinate Sentence)',
                fineAmount: '17000',
                detailsClasses: 'govuk-!-padding-4',
                actions: {
                    items: [
                    {
                        text: 'Edit',
                        href: '/edit'
                    },
                    {
                        text: 'Delete',
                        href: '/delete'
                    }
                    ]
                },
                listItems: {
                    classes: 'govuk-!-margin-top-4',
                    items: [
                        {
                            html: '<a href="/update-outcome">Update outcome</a>'
                        }
                    ]
                }
            }) }}
        {% endraw %}
    {% endhighlight %}

    <h3>Required Nunjucks filters</h3>

    {% highlight "njk" %}
        {% raw %}
            import { formatLengths, consecutiveToDetailsToDescription } from '@ministryofjustice/hmpps-court-cases-release-dates-design/hmpps/utils/utils'

            njkEnv.addFilter('formatLengths', formatLengths)
            njkEnv.addFilter('consecutiveToDetailsToDescription', consecutiveToDetailsToDescription)
        {% endraw %}
    {% endhighlight %}
{% endset %}

{% block content %}
    <div class="app-example">
        {{ offenceCard({
                offenceCode: 'OFFENCECODE',
                offenceName: 'An Offence Name',
                offenceStartDate: '27 06 2024',
                offenceEndDate: '27 08 2024',
                outcome: 'Imprisonment',
                outcomeUpdated: true,
                countNumber: '1',
                convictionDate: '12 09 2024',
                terrorRelated: true,
                isSentenced: true,
                periodLengths: [
                    {
                        description: 'Sentence length',
                        years: '1',
                        months: '2',
                        weeks: '3',
                        days: '4',
                        periodOrder: ['years', 'months', 'weeks', 'days']
                    },
                    {
                        description: 'Licence period',
                        years: '5',
                        months: '6',
                        periodOrder: ['years', 'months']
                    }
                ],
                sentenceServeType: 'CONSECUTIVE',
                consecutiveTo: '3',
                sentenceType: 'SDS (Standard Determinate Sentence)',
                fineAmount: '17000',
                detailsClasses: 'govuk-!-padding-4',
                actions: {
                    items: [
                    {
                        text: 'Edit',
                        href: '/edit'
                    },
                    {
                        text: 'Delete',
                        href: '/delete'
                    }
                    ]
                },
                listItems: {
                    classes: 'govuk-!-margin-top-4',
                    items: [
                        {
                            html: '<a href="/update-outcome">Update outcome</a>'
                        }
                    ]
                }
            })  }}
    </div>

    <p>This component is the common offence code used in the court cases release dates services</p>

    {{ govukTabs({
        items: [
            {
                label: "HTML",
                id: "html",
                panel: {
                    html: htmlCode
                }
            },
            {
                label: "Nunjucks",
                id: "nunjucks",
                panel: {
                    html: nunjucksCode
                }
            }
        ]
    }) }}

{% endblock %}