{% extends "court-cases-release-dates-component.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "hmpps/components/court-cases-release-dates/sub-navigation/macro.njk" import subNavigation %}

{% set pageTitle = 'Court cases and release dates sub navigation' %}
{% set activeSideNav = 'sub-navigation' %}

{% set navigation = {
    activeSubNav: 'overview',
    overview: {
        href: '#overview'
    },
    courtCases: {
        href: '#court-cases',
        enabled: false
    },
    adjustments: {
        href: '#adjustments'
    },
    releaseDates: {
        href: '#release-dates'
    },
    recalls: {
        href: '#recalls'
    },
    documents: {
        href: '#documents',
        enabled: false
    }
} %}

{% set htmlCode %}
    {% highlight "html" %}
        {{ subNavigation('dev', navigation, 'A1234BC') }}
    {% endhighlight %}
{% endset %}

{% set nunjucksCode %}
    {% highlight "njk" %}
        {% raw %}
{% from "hmpps/components/court-cases-release-dates/sub-navigation/macro.njk" import subNavigation %}

{# selects which set of environment specific service urls to use by default #}
{# one of; 'local', 'dev', 'pre' or 'prod' #}
{% set environment = 'dev' %}

{# activeSubNav selects which tab is highlighted as active #}
{# it is required and should be one of; 'overview', 'court-cases', 'adjustments', 'release-dates' or 'documents' #}
{# all the other properties are optional and support overriding the environment specific service urls and removing tabs #}
{# currently court cases and document pages are not released to live so make sure these tabs are set to enabled false #}
{% set navigation = {
    activeSubNav: 'overview',
    overview: {
        href: '',
        enabled: true
    },
    courtCases: {
        href: '',
        enabled: false
    },
    adjustments: {
        href: '',
        enabled: true
    },
    releaseDates: {
        href: '',
        enabled: true
    },
    recalls: {
        href: '',
        enabled: true
    },
    documents: {
        href: '',
        enabled: false
    }
} %}

{% set prisonNumber = 'A1234BC' %}

{{ subNavigation(environment, navigation, prisonNumber) }}
        {% endraw %}
    {% endhighlight %}
{% endset %}

{% block content %}
    <div class="app-example">
        {{ subNavigation('dev', navigation, 'A1234BC') }}
    </div>

    <p>The court cases and release dates product suite is linked together by a shared, tab based sub navigation.</p>
    <p>This component maintains consistency of tab names, ordering and where they link to across the product set.</p>

    {{ govukTabs({
        items: [
            {
                label: "HTML",
                id: "html",
                panel: {
                    html: htmlCode
                }
            },
            {
                label: "Nunjucks",
                id: "nunjucks",
                panel: {
                    html: nunjucksCode
                }
            }
        ]
    }) }}

{% endblock %}