{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}


{%- set summaryListRows=[
                {
                    key: {
                        text: "Committed on"
                    },
                    value: {
                        text: params.offenceStartDate + (" to " + params.offenceEndDate if params.offenceEndDate else '')
                    }
                }
            ]-%}

{% if params.convictionDate %}
    {% set summaryListRows = (summaryListRows.push({
                    key: {
                    text: "Conviction date"
                },
                    value: {
                    text: params.convictionDate
                }
                }), summaryListRows)%}
{% endif %}

{% set summaryListRows = (summaryListRows.push({
                    key: {
                    text: "Outcome"
                },
                    value: {
                    html: params.outcome + (" " + govukTag({text: "Updated", classes: "govuk-!-font-size-16 govuk-!-margin-left-1"}) if params.outcomeUpdated)
                }
                }), summaryListRows)%}

{% if params.sentenceType %}
    {% set summaryListRows = (summaryListRows.push({
                    key: {
                    text: "Sentence type"
                },
                    value: {
                    text: params.sentenceType
                }
                }), summaryListRows)%}
{% endif %}

{% if params.fineAmount %}
  {% set summaryListRows = (summaryListRows.push({
                    key: {
                    text: "Fine amount"
                },
                    value: {
                    text: "£" + params.fineAmount
                }
                }), summaryListRows)%}
{% endif %}

{% if params.periodLengths %}
    {% for periodLength in params.periodLengths %}
        {% set summaryListRows = (summaryListRows.push({
                    key: {
                    text: periodLength.description
                },
                    value: {
                    text: periodLength | formatLengths
                }
                }), summaryListRows)%}
    {% endfor %}
{% endif %}

{% if params.sentenceServeType %}
    {% set consecutiveOrConcurrentValue = params.sentenceServeType | capitalize %}
    {% if params.consecutiveTo %}
       {% set consecutiveOrConcurrentValue = consecutiveOrConcurrentValue + (params.consecutiveTo | consecutiveToDetailsToDescription) %} 
    {% endif %}
    {% set summaryListRows = (summaryListRows.push({
                    key: {
                    text: "Consecutive or concurrent"
                },
                    value: {
                    text: consecutiveOrConcurrentValue
                }
                }), summaryListRows)%}
{% endif %}



<div class="offence-card{% if params.isSentenced %} sentence-card {% endif %}">
    <div class="offence-card-offence-details{% if params.detailsClasses %} {{ params.detailsClasses }} {% endif %}">
        {% if params.countNumber %}
            <span class="govuk-body">Count {{ params.countNumber }}</span>
        {% endif %}
        <h4 class="govuk-heading-s">
            {{ params.offenceCode }} {{ params.offenceName }}
            {% if params.terrorRelated %}
                <br>
                <strong class="govuk-tag govuk-!-margin-top-2">
                    Terror-related
                </strong>
            {% endif %}
        </h4>

        {{ govukSummaryList({
            classes: "govuk-summary-list--no-border",
            rows: summaryListRows,
            attributes: {
                "data-qa": "offenceSummaryList"
            }
            }) 
        }}
        {% if params.listItems %}
            <ul class="govuk-list{% if params.listItems.classes %} {{params.listItems.classes}}{% endif %}" data-qa="offenceCardList">
                {% for item in params.listItems.items %}
                    <li> {{item.html | safe if item.html else item.text }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if params.actions %}
       <div class="offence-card-actions">
            <ul class="offence-card-actions-list"> 
                {% for item in params.actions.items %}
                    <li class="offence-card-action-link">
                        <a href="{{ item.href }}" class="govuk-link">{{ item.text }}</a>  
                        {%- if item.visuallyHiddenText -%}
                            <span class="govuk-visually-hidden"> {{ item.visuallyHiddenText }}</span>
                        {% endif -%}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>